---
layout: default
---

{% for post in site.posts limit:1 %}
<div class="mt2 h6 sans-serif gray-med">{{ post.date | date: "%B %-d, %Y" }}</div>
<h2 class="h1 sans-serif line-height-13">{{ post.title }}</h2>
<div class="serif">{{ post.excerpt }}</div>
<a href="{{ post.url }}" title="{{ post.title }}">Read More &rarr;</a>
{% endfor %}

<h2 class="mt3 mb1 sans-serif h2">Previously</h2>

<ul class="list-reset">
  {% for post in site.posts offset:1 %}
  <li class="flex flex-column md-flex-row py1">
    <div class="flex-auto order-1">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </div>
    <div class="order-0 md-order-2 sans-serif h6 gray-med">
      {{ post.date | date: "%B %-d, %Y" }}
    </div>
  </li>
  {% endfor %}
</ul>
