---
layout: default
---

<h1 class="h1 mt4 pt4">Writing</h1>

{% for post in site.posts limit:1 %}
<h2>{{ post.title }}</h2>

<p>{{ post.excerpt }}</p>

<a href="{{ post.url }}" title="{{ post.title }}">Read More...</a>
{% endfor %}

<h2 class="mt4 mb0">Previously</h2>

<ul class="list-reset m0">
  {% for post in site.posts offset:1 %}
  <li class="flex py1">
    <div class="flex-auto">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </div>
    <div class="xs-hide">
      {{ post.date | date: "%B %-d, %Y" }}
    </div>
  </li>
  {% endfor %}
</ul>
