<header class="flex bg-black p2 white sans-serif">
  <div class="site-title relative z1 myn2 ml2 py2 px1 bold bg-green"><a href="/" class="white">Marcelo Somers</a></div>

  <nav class="flex flex-auto justify-end">
    <ul class="flex list-reset">
      <li><a href="/" class="white text-decoration-none">About</a></li>
      <li class="ml3"><a href="/" class="white text-decoration-none">Writing</a></li>
      <li class="ml3"><a href="/appearances" class="white text-decoration-none">Appearances</a></li>
    </ul>
  </nav>
</header>
