<header class="flex flex-column sm-flex-row bg-black white sans-serif">
  <div class="site-title block center z1 sm-ml2 p2 bold bg-green"><a href="/" class="white nowrap">Marcelo Somers</a></div>

  <nav class="flex flex-auto justify-center sm-flex-end p2 overflow-x-auto">
    <ul class="flex list-reset">
      <li class=""><a href="/about" class="white text-decoration-none">About</a></li>
      <li class=" ml3"><a href="/" class="white text-decoration-none">Writing</a></li>
      <li class=" ml3"><a href="/appearances" class="white text-decoration-none">Appearances</a></li>
    </ul>
  </nav>
</header>
