// Box Sizing
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Typography
body {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: color(green);
  text-decoration: none;

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 currentColor;
  }
}
