<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}

  <body class="sans-serif gray-dark">
    {% include _header.html %}

    <div class="sans-serif bg-gray-light border-bottom border-gray-med article-title">
      <div class="mx-auto max-width-3 px2 py2 md-py3">
        <h1 class="line-height-13">{{ page.title }}</h1> {% if page.subtitle %}
        <h2 class="mt1 regular line-height-13">{{ page.subtitle}}</h2> {% endif %}
      </div>
    </div>

    <article class="mx-auto max-width-3 p2 markdown">
      {{ content }}
    </article>

    {% include _footer.html %}
  </body>
</html>
